<%- include('partials/head') %>
<body>
    <%- include('partials/navbar') %>
    <h1>The cats</h1>
    <% for(let cat of cats) { %>  <!--loop that iterates the array within our ejs file-->
        <li><%= cat %></li>
    <% } %>
</body>
</html>